.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: visibility 0.3s, opacity 0.3s ease-in;
  opacity: 0;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  display: flex;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.modal__close-btn_type_preview {
  top: 0;
  right: -52.5px;
}

.modal__close-btn_type_preview:hover {
  opacity: 1;
  color: #212121;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  line-height: 100%;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  color: rgba(33, 33, 33, 0.7);
  display: block;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  border-bottom: 6px;
  padding: 16px 12px 12px;
  border-radius: 8px;
  border: 1px solid #21212166;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 100%;
  box-sizing: border-box;
}
.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__input::placeholder {
  color: #21212143;
}

.modal__error {
  display: block;
  color: rgba(255, 0, 0, 0.7);
  margin-top: 8px;
  visibility: hidden;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
}
.modal__error_visible {
  visibility: visible;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 32px 18px 32px;
  border-radius: 8px;
  background: #212121;
  color: #fcf5e5;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  cursor: pointer;
}

.modal__submit-btn_disabled {
  cursor: default;
  pointer-events: none;
  opacity: 50%;
}
.modal__image-container {
  position: relative;
}
.modal__image {
  max-width: 80vh;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: white;
  background: #212121;
  width: fit-content;
  height: 32px;
  position: relative;
  border-radius: 8px;
  padding: 4px 8px 4px 8px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 120%;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .modal__container {
    padding: 12px;
  }
  .modal__submit-btn {
    width: 100%;
    height: 52px;
  }

  .modal__close-btn {
    top: 22px;
    right: 12px;
  }
  .modal__title {
    font-size: 20px;
  }
  .modal__input {
    width: 100%;
    font-size: 16px;
    line-height: 100%;
    font-style: normal;
  }
}

@media screen and (max-width: 627px) {
  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__image {
    max-width: unset;
  }
}
